APP_URL=https://modolouge.vercel.app
SESSION_SECRET=GENERATE_A_RANDOM_SECRET_DO_NOT_USE_THIS_VALUE
COGNITO_POOL_ID=eu-north-1_c2tNv7bsF
COGNITO_CLIENT_ID=4n4ncvl2ua6pvo1dq5hvnoksoo
COGNITO_DOMAIN=https://toolworkslab-modolouge-444115534902.auth.eu-north-1.amazoncognito.com
AWS_ROLE_ARN=arn:aws:iam::444115534902:role/ModolougeVercelApp
AWS_REGION=eu-north-1
DATA_TABLE=modolouge-production
FILE_BUCKET=modolouge-444115534902-eu-north-1
JOB_QUEUE_URL=https://sqs.eu-north-1.amazonaws.com/444115534902/modolouge-jobs
